resources/videos/*

node_modules
bower_components
.DS_Store

# IntelliJ
.idea/
*.ipr
*.iws
*.iml
.idea_modules

# Unless there's some relevant, I don't want all the garbage xsplit files.
*.xml

players.csv

# Logs
logs
*.log
npm-debug.log*

./*.xml
./OverlayFiles/*.xml

test/index.html

.vscode/

webm/